USE [GESTION_TOTT]
GO
/****** Object:  Table [dbo].[Hotel_CityLedger]    Script Date: 12/01/2026 13:11:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hotel_CityLedger](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[FileName] [varchar](100) NOT NULL,
	[LoadDate] [datetime] NULL,
	[ProcessStatus] [int] NULL,
	[HotelCode] [varchar](20) NULL,
	[ReportDate] [date] NULL,
	[TrxCode] [varchar](20) NULL,
	[TransactionType] [varchar](50) NULL,
	[BillNo] [varchar](50) NULL,
	[InvoiceNo] [varchar](50) NULL,
	[Amount] [decimal](18, 2) NULL,
	[CreditCardLast4] [varchar](10) NULL,
	[AccountCustomerID] [varchar](50) NULL,
	[AccountName] [varchar](255) NULL,
	[AccountNumber] [varchar](50) NULL,
	[ConfirmationNo] [varchar](50) NULL,
	[ArrivalDate] [date] NULL,
	[DepartureDate] [date] NULL,
	[GuestName] [varchar](255) NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_Hotel_CityLedger] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hotel_Customers]    Script Date: 12/01/2026 13:11:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hotel_Customers](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[FileName] [varchar](100) NOT NULL,
	[LoadDate] [datetime] NULL,
	[ProcessStatus] [int] NULL,
	[HotelCode] [varchar](20) NULL,
	[ReportDate] [date] NULL,
	[InternalID] [varchar](50) NULL,
	[CustomerType] [varchar](20) NULL,
	[Name] [varchar](255) NULL,
	[LegalName] [varchar](255) NULL,
	[PassportNo] [varchar](50) NULL,
	[Nationality] [varchar](10) NULL,
	[Address1] [varchar](255) NULL,
	[City] [varchar](100) NULL,
	[ZipCode] [varchar](20) NULL,
	[State] [varchar](50) NULL,
	[CountryCode] [varchar](10) NULL,
	[CountryName] [varchar](100) NULL,
	[Email] [varchar](255) NULL,
	[Phone] [varchar](50) NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_Hotel_Customers] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hotel_Revenue]    Script Date: 12/01/2026 13:11:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hotel_Revenue](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[FileName] [varchar](100) NOT NULL,
	[LoadDate] [datetime] NULL,
	[ProcessStatus] [int] NULL,
	[HotelCode] [varchar](20) NULL,
	[ReportDate] [date] NULL,
	[HeaderTrxCode] [varchar](20) NULL,
	[HeaderType] [varchar](50) NULL,
	[Description] [varchar](255) NULL,
	[TotalAmount] [decimal](18, 4) NULL,
	[TotalGuestLedger] [decimal](18, 4) NULL,
	[DetailMarketCode] [varchar](10) NULL,
	[DetailRoomClass] [varchar](20) NULL,
	[DetailTrxAmount] [decimal](18, 4) NULL,
	[DetailGuestLedger] [decimal](18, 4) NULL,
	[DetailArLedger] [decimal](18, 4) NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_Hotel_Revenue] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hotel_Statistics]    Script Date: 12/01/2026 13:11:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hotel_Statistics](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[FileName] [varchar](100) NOT NULL,
	[LoadDate] [datetime] NULL,
	[ProcessStatus] [int] NULL,
	[HotelCode] [varchar](20) NULL,
	[ReportDate] [date] NULL,
	[MarketCode] [varchar](10) NULL,
	[RoomClass] [varchar](20) NULL,
	[RoomType] [varchar](20) NULL,
	[Rooms] [int] NULL,
	[Persons] [int] NULL,
	[NoShowRooms] [int] NULL,
	[CancelRooms] [int] NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_Hotel_Statistics] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Hotel_CityLedger] ADD  DEFAULT (getdate()) FOR [LoadDate]
GO
ALTER TABLE [dbo].[Hotel_CityLedger] ADD  DEFAULT ((0)) FOR [ProcessStatus]
GO
ALTER TABLE [dbo].[Hotel_CityLedger] ADD  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[Hotel_Customers] ADD  DEFAULT (getdate()) FOR [LoadDate]
GO
ALTER TABLE [dbo].[Hotel_Customers] ADD  DEFAULT ((0)) FOR [ProcessStatus]
GO
ALTER TABLE [dbo].[Hotel_Customers] ADD  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[Hotel_Revenue] ADD  DEFAULT (getdate()) FOR [LoadDate]
GO
ALTER TABLE [dbo].[Hotel_Revenue] ADD  DEFAULT ((0)) FOR [ProcessStatus]
GO
ALTER TABLE [dbo].[Hotel_Revenue] ADD  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[Hotel_Statistics] ADD  DEFAULT (getdate()) FOR [LoadDate]
GO
ALTER TABLE [dbo].[Hotel_Statistics] ADD  DEFAULT ((0)) FOR [ProcessStatus]
GO
ALTER TABLE [dbo].[Hotel_Statistics] ADD  DEFAULT ((0)) FOR [Status]
GO
/****** Object:  StoredProcedure [dbo].[sp_Import_Hotel_CityLedger]    Script Date: 12/01/2026 13:11:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_Import_Hotel_CityLedger]
    @FileName VARCHAR(100),
    @XmlData XML
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        -- MODO ACUMULATIVO (Append Only)
        
        INSERT INTO [dbo].[Hotel_CityLedger] (
            [FileName],
            [LoadDate],
            [ProcessStatus],
            [Status],        -- Default 0 (False)
            
            -- Encabezado Global
            [HotelCode],
            [ReportDate],
            
            -- Transacción
            [TrxCode],
            [TransactionType],
            [BillNo],
            [InvoiceNo],
            [Amount],
            [CreditCardLast4],
            
            -- Account Info (Aplanado)
            [AccountCustomerID],
            [AccountName],
            [AccountNumber],
            
            -- Reservation Info (Aplanado)
            [ConfirmationNo],
            [ArrivalDate],
            [DepartureDate],
            [GuestName]
        )
        SELECT 
            @FileName,
            GETDATE(),
            1, -- ProcessStatus: 1 (Procesado)
            0, -- Status: 0
            
            -- Atributos del nodo Raíz (../)
            T.c.value('../@hotel_code', 'varchar(20)'),
            T.c.value('../@date', 'date'),

            -- Atributos de la Transacción
            T.c.value('@trx_code', 'varchar(20)'),
            T.c.value('@transaction_type', 'varchar(50)'),
            
            -- Elementos Hijos directos
            T.c.value('(bill_no)[1]', 'varchar(50)'),
            T.c.value('(invoice_no)[1]', 'varchar(50)'),
            T.c.value('(amount)[1]', 'decimal(18,2)'),
            T.c.value('(credit_card_last_4_digits)[1]', 'varchar(10)'),

            -- Navegación a Account Info
            T.c.value('(account_info/@customer_internal_id)[1]', 'varchar(50)'), -- Ojo: es un atributo dentro del nodo hijo
            T.c.value('(account_info/account_name)[1]', 'varchar(255)'),
            T.c.value('(account_info/account_number)[1]', 'varchar(50)'),

            -- Navegación a Reservation Info
            T.c.value('(reservation_info/confirmation_no)[1]', 'varchar(50)'),
            T.c.value('(reservation_info/arrival_date)[1]', 'date'),
            T.c.value('(reservation_info/departure_date)[1]', 'date'),
            T.c.value('(reservation_info/guest_name)[1]', 'varchar(255)')

        FROM 
            @XmlData.nodes('/city_ledger/transaction') AS T(c);

        SELECT 'SUCCESS' as Result, @@ROWCOUNT as RowsInserted;

    END TRY
    BEGIN CATCH
        SELECT 
            'ERROR' as Result, 
            ERROR_MESSAGE() as ErrorMessage;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Import_Hotel_Customers]    Script Date: 12/01/2026 13:11:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_Import_Hotel_Customers]
    @FileName VARCHAR(100),
    @XmlData XML
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        -- MODO ACUMULATIVO (Append Only)
        
        INSERT INTO [dbo].[Hotel_Customers] (
            [FileName],
            [LoadDate],
            [ProcessStatus],
            [Status],        -- Default 0
            
            -- Encabezado
            [HotelCode],
            [ReportDate],
            
            -- Datos del Cliente
            [InternalID],
            [CustomerType],
            [Name],
            [LegalName],
            [PassportNo],
            [Nationality],
            
            -- Address Info (Aplanado)
            [Address1],
            [City],
            [ZipCode],
            [State],
            [CountryCode],
            [CountryName],
            
            -- Communication Info (Aplanado)
            [Email],
            [Phone]
        )
        SELECT 
            @FileName,
            GETDATE(),
            1, -- ProcessStatus: 1 (Procesado)
            0, -- Status: 0
            
            -- Atributos del nodo raíz (subimos nivel con ../)
            T.c.value('../@hotel_code', 'varchar(20)'),
            T.c.value('../@date', 'date'),

            -- Atributos directos del cliente
            T.c.value('@internal_id', 'varchar(50)'),
            T.c.value('(customer_type)[1]', 'varchar(20)'),
            T.c.value('(name)[1]', 'varchar(255)'),
            T.c.value('(legal_name)[1]', 'varchar(255)'),
            T.c.value('(passport_no)[1]', 'varchar(50)'),
            T.c.value('(nationality)[1]', 'varchar(10)'),

            -- Navegación a nodos hijos (Address Info)
            T.c.value('(address_info/address1)[1]', 'varchar(255)'),
            T.c.value('(address_info/city)[1]', 'varchar(100)'),
            T.c.value('(address_info/zip_code)[1]', 'varchar(20)'),
            T.c.value('(address_info/state)[1]', 'varchar(50)'),
            T.c.value('(address_info/country)[1]', 'varchar(10)'),
            T.c.value('(address_info/country_name)[1]', 'varchar(100)'),

            -- Navegación a nodos hijos (Communication Info)
            T.c.value('(communication_info/email)[1]', 'varchar(255)'),
            T.c.value('(communication_info/phone)[1]', 'varchar(50)')

        FROM 
            @XmlData.nodes('/customers/customer') AS T(c);

        SELECT 'SUCCESS' as Result, @@ROWCOUNT as RowsInserted;

    END TRY
    BEGIN CATCH
        SELECT 
            'ERROR' as Result, 
            ERROR_MESSAGE() as ErrorMessage;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Import_Hotel_Revenue]    Script Date: 12/01/2026 13:11:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_Import_Hotel_Revenue]
    @FileName VARCHAR(100),
    @XmlData XML
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        -- MODO ACUMULATIVO (Append Only)
        
        INSERT INTO [dbo].[Hotel_Revenue] (
            [FileName],
            [LoadDate],
            [ProcessStatus],
            [Status],        -- Default 0
            
            -- Encabezado Global
            [HotelCode],
            [ReportDate],
            
            -- Nivel 1: Transaction Total (Padre)
            [HeaderTrxCode],
            [HeaderType],
            [Description],
            [TotalAmount],
            [TotalGuestLedger],
            
            -- Nivel 2: Transaction Detail (Hijo)
            [DetailMarketCode],
            [DetailRoomClass],
            [DetailTrxAmount],
            [DetailGuestLedger],
            [DetailArLedger]
        )
        SELECT 
            @FileName,
            GETDATE(),
            1, -- ProcessStatus: 1 (Procesado)
            0, -- Status: 0
            
            -- Datos Raíz (Subimos desde el padre)
            Header.data.value('../@hotel_code', 'varchar(20)'),
            Header.data.value('../@date', 'date'),

            -- Datos del Padre (Transaction Total)
            Header.data.value('(transaction_code)[1]', 'varchar(20)'),
            Header.data.value('@transaction_type', 'varchar(50)'),
            Header.data.value('(description)[1]', 'varchar(255)'),
            Header.data.value('(total_amount)[1]', 'decimal(18,4)'),
            Header.data.value('(total_guest_ledger)[1]', 'decimal(18,4)'),

            -- Datos del Hijo (Transaction Detail)
            Detail.data.value('(market_code)[1]', 'varchar(10)'),
            Detail.data.value('(room_class)[1]', 'varchar(20)'),
            Detail.data.value('(trx_amount)[1]', 'decimal(18,4)'),
            Detail.data.value('(trx_guest_ledger)[1]', 'decimal(18,4)'),
            Detail.data.value('(trx_ar_ledger)[1]', 'decimal(18,4)') -- Algunos nodos no lo tienen, devolverá NULL, lo cual es correcto

        FROM 
            @XmlData.nodes('/revenue/transaction_total') AS Header(data)
            CROSS APPLY Header.data.nodes('transaction_details/transaction') AS Detail(data);
            -- CROSS APPLY "cruza" cada padre con sus respectivos hijos

        SELECT 'SUCCESS' as Result, @@ROWCOUNT as RowsInserted;

    END TRY
    BEGIN CATCH
        SELECT 
            'ERROR' as Result, 
            ERROR_MESSAGE() as ErrorMessage;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Import_Hotel_Statistics]    Script Date: 12/01/2026 13:11:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_Import_Hotel_Statistics]
    @FileName VARCHAR(100),
    @XmlData XML
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        -- MODO ACUMULATIVO:
        -- No borramos nada. Insertamos directamente lo que venga en el XML.
        
        INSERT INTO [dbo].[Hotel_Statistics] (
            [FileName],
            [LoadDate],
            [ProcessStatus],
            [Status],        -- Default 0 (False)
            [HotelCode],     -- Atributo Raíz
            [ReportDate],    -- Atributo Raíz
            [MarketCode],
            [RoomClass],
            [RoomType],
            [Rooms],
            [Persons],
            [NoShowRooms],
            [CancelRooms]
        )
        SELECT 
            @FileName,
            GETDATE(),
            1, -- ProcessStatus: 1 (Procesado)
            0, -- Status: 0
            
            -- Navegamos hacia arriba (../) para buscar los atributos del nodo padre <statistics>
            T.c.value('../@hotel_code', 'varchar(20)'),
            T.c.value('../@date', 'date'),

            -- Mapeo de nodos hijos
            T.c.value('(market_code)[1]', 'varchar(10)'),
            T.c.value('(room_class)[1]', 'varchar(20)'),
            T.c.value('(room_type)[1]', 'varchar(20)'),
            T.c.value('(rooms)[1]', 'int'),
            T.c.value('(persons)[1]', 'int'),
            T.c.value('(noshow_rooms)[1]', 'int'),
            T.c.value('(cancel_rooms)[1]', 'int')
        FROM 
            @XmlData.nodes('/statistics/statistic_record') AS T(c);

        -- Retornamos éxito y cantidad de filas insertadas
        SELECT 'SUCCESS' as Result, @@ROWCOUNT as RowsInserted;

    END TRY
    BEGIN CATCH
        -- Manejo de errores
        SELECT 
            'ERROR' as Result, 
            ERROR_MESSAGE() as ErrorMessage;
    END CATCH
END
GO
