USE [importaruba]
GO
/****** Object:  Table [dbo].[Hotel_CityLedger]    Script Date: 13/05/2026 20:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hotel_CityLedger](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[FileName] [varchar](100) NOT NULL,
	[LoadDate] [datetime] NULL,
	[ProcessStatus] [int] NULL,
	[HotelCode] [varchar](20) NULL,
	[ReportDate] [date] NULL,
	[TrxCode] [varchar](20) NULL,
	[TransactionType] [varchar](50) NULL,
	[BillNo] [varchar](50) NULL,
	[InvoiceNo] [varchar](50) NULL,
	[Amount] [decimal](18, 2) NULL,
	[CreditCardLast4] [varchar](10) NULL,
	[AccountCustomerID] [varchar](50) NULL,
	[AccountName] [varchar](255) NULL,
	[AccountNumber] [varchar](50) NULL,
	[ConfirmationNo] [varchar](50) NULL,
	[ArrivalDate] [date] NULL,
	[DepartureDate] [date] NULL,
	[GuestName] [varchar](255) NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_Hotel_CityLedger] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hotel_Customers]    Script Date: 13/05/2026 20:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hotel_Customers](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[FileName] [varchar](100) NOT NULL,
	[LoadDate] [datetime] NULL,
	[ProcessStatus] [int] NULL,
	[HotelCode] [varchar](20) NULL,
	[ReportDate] [date] NULL,
	[InternalID] [varchar](50) NULL,
	[CustomerType] [varchar](20) NULL,
	[Name] [varchar](255) NULL,
	[LegalName] [varchar](255) NULL,
	[PassportNo] [varchar](50) NULL,
	[Nationality] [varchar](10) NULL,
	[Address1] [varchar](255) NULL,
	[City] [varchar](100) NULL,
	[ZipCode] [varchar](20) NULL,
	[State] [varchar](50) NULL,
	[CountryCode] [varchar](10) NULL,
	[CountryName] [varchar](100) NULL,
	[Email] [varchar](255) NULL,
	[Phone] [varchar](50) NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_Hotel_Customers] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hotel_ForecastOcc]    Script Date: 13/05/2026 20:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hotel_ForecastOcc](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SORT_ORDER] [int] NOT NULL,
	[BUSINESS_DATE] [date] NOT NULL,
	[NO_DEFINITE_ROOMS] [int] NULL,
	[MARKET_CODE] [varchar](10) NOT NULL,
	[ROOM_CATEGORY] [varchar](50) NOT NULL,
	[NO_OF_ROOMS1] [int] NULL,
	[LOGO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hotel_Revenue]    Script Date: 13/05/2026 20:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hotel_Revenue](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[FileName] [varchar](100) NOT NULL,
	[LoadDate] [datetime] NULL,
	[ProcessStatus] [int] NULL,
	[HotelCode] [varchar](20) NULL,
	[ReportDate] [date] NULL,
	[HeaderTrxCode] [varchar](20) NULL,
	[HeaderType] [varchar](50) NULL,
	[Description] [varchar](255) NULL,
	[TotalAmount] [decimal](18, 4) NULL,
	[TotalGuestLedger] [decimal](18, 4) NULL,
	[DetailMarketCode] [varchar](10) NULL,
	[DetailRoomClass] [varchar](20) NULL,
	[DetailTrxAmount] [decimal](18, 4) NULL,
	[DetailGuestLedger] [decimal](18, 4) NULL,
	[DetailArLedger] [decimal](18, 4) NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_Hotel_Revenue] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hotel_Statistics]    Script Date: 13/05/2026 20:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hotel_Statistics](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[FileName] [varchar](100) NOT NULL,
	[LoadDate] [datetime] NULL,
	[ProcessStatus] [int] NULL,
	[HotelCode] [varchar](20) NULL,
	[ReportDate] [date] NULL,
	[MarketCode] [varchar](10) NULL,
	[RoomClass] [varchar](20) NULL,
	[RoomType] [varchar](20) NULL,
	[Rooms] [int] NULL,
	[Persons] [int] NULL,
	[NoShowRooms] [int] NULL,
	[CancelRooms] [int] NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_Hotel_Statistics] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Hotel_CityLedger] ADD  DEFAULT (getdate()) FOR [LoadDate]
GO
ALTER TABLE [dbo].[Hotel_CityLedger] ADD  DEFAULT ((0)) FOR [ProcessStatus]
GO
ALTER TABLE [dbo].[Hotel_CityLedger] ADD  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[Hotel_Customers] ADD  DEFAULT (getdate()) FOR [LoadDate]
GO
ALTER TABLE [dbo].[Hotel_Customers] ADD  DEFAULT ((0)) FOR [ProcessStatus]
GO
ALTER TABLE [dbo].[Hotel_Customers] ADD  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[Hotel_ForecastOcc] ADD  DEFAULT ((0)) FOR [NO_OF_ROOMS1]
GO
ALTER TABLE [dbo].[Hotel_ForecastOcc] ADD  DEFAULT ((0)) FOR [LOGO]
GO
ALTER TABLE [dbo].[Hotel_Revenue] ADD  DEFAULT (getdate()) FOR [LoadDate]
GO
ALTER TABLE [dbo].[Hotel_Revenue] ADD  DEFAULT ((0)) FOR [ProcessStatus]
GO
ALTER TABLE [dbo].[Hotel_Revenue] ADD  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[Hotel_Statistics] ADD  DEFAULT (getdate()) FOR [LoadDate]
GO
ALTER TABLE [dbo].[Hotel_Statistics] ADD  DEFAULT ((0)) FOR [ProcessStatus]
GO
ALTER TABLE [dbo].[Hotel_Statistics] ADD  DEFAULT ((0)) FOR [Status]
GO
